name: run-tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '--skip-ci')"
    name: Run PHP tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Setup Github token for private repos
        run: composer config -g github-oauth.github.com ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Setup locales
        run: sudo locale-gen sv_SE.UTF-8

      - name: Install dependencies
        run: composer install -n --prefer-dist --no-scripts --no-progress

      - name: Execute tests
        run: composer test
